.specialcol {
  background-color: #e76f51;
  text-align: center;
}

.col-md-2 .content {
  padding: 20% 0;
}

a.speciala {
  text-decoration: none !important;
  color: white;
}

a .item {
  margin: 10px 0;
}

a .item:hover {
  background: #e76f51;
}

.star {
  padding-right: 5px;
  width: 20px;
  transform: translateY(-2px);
}
